.login-form {
  width:350px;
  height:auto;
  position:absolute;
  padding:30px;
  border-radius:10px;
  border:1px solid #ccc;
  top:50%;
  left: 50%;
  transform:translateX(-50%) translateY(-50%);
}